* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto; 
}
.header {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}